body {
  color: #fff;
}

#highScoresList {
  list-style: none;
  margin-bottom: 4rem;
}

/* 大丈夫 */
.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

#myScore {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  border-bottom: 2px solid #fff;
}

td,
th {
  padding: 10px;
}

#result3 {
  margin-bottom: 3rem;
  overflow: scroll;
  height: 200px;
  width: 300px;
}
